<form method="post" action="{{action}}" class="{{form_class}}">
  {{hidden}}
  {{input_email class=input_class placeholder=placeholder value=email autofocus=autofocus}}
  <button class="{{button_class}}" type="submit">
    {{t "Subscribe"}}
  </button>
  {{script}}
  {{#if error}}
    <p>
      {{{error.message}}}
    </p>
  {{/if}}
</form>
