{{!< default}}

{{> "site-header"}}

{{#author}}
  <section class="author-profile inner">
    {{#if image}}
    <figure class="author-image">
      <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
    </figure>
    {{/if}}
    <h1 class="author-title">{{name}}</h1>
    <h2 class="author-bio">{{bio}}</h2>
    <div class="author-meta">
      {{#if location}}<span class="author-location">{{location}}</span>{{/if}}
      {{#if website}}<span class="author-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
      <span class="author-stats"> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
    </div>
  </section>
{{/author}}

<main class="content" role="main">

  {{! Include the post loop - partials/loop.hbs }}
  {{> "loop"}}

</main>
