{{!< default}}

{{! Featured header }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="site-head-content inner">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
		<h1 class="blog-title">{{@blog.title}}</h1>
		<h2 class="blog-description">{{@blog.description}}</h2>
	</div>
</header>

<main id="content" class="content" role="main">

    {{! Include the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
