{{!< default}}

<header class="post-header">
	<a class="blog-logo" href="{{@blog.url}}">
		{{#if @blog.logo}}
			<img src="{{@blog.logo}}" alt="Blog Logo" />
		{{else}}
			<span class="blog-title">{{@blog.title}}</span>
		{{/if}}
	</a>
</header>

<main class="content" role="main">

	<article class="{{post_class}}">
		{{#post}}

			<h1 class="post-title">
				{{{title}}}
			</h1>

			<section class="post-content">
				{{content}}
			</section>

		{{/post}}
	</article>

</main>
