{{!< default}}

{{> "site-header"}}

{{#post}}
  <main role="main">
    <article class="{{post_class}}">
      <header>
        <h1>
          {{{title}}}
        </h1>
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date format='DD MMM YYYY'}}
        </time>
        {{tags prefix="on " separator=" | "}}
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <section>
          <h4>
            {{author.name}}
          </h4>
          <p>
            {{author.bio}}
          </p>
          <ul>
            {{#if author.location}}
              <li>
                {{author.location}}
              </li>
            {{/if}}
            {{#if author.website}}
              <li>
                <a href="{{author.website}}">
                  {{author.website}}
                </a>
              </li>
            {{/if}}
          </ul>
        </section>
        <section>
          Share this post on
          <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            Twitter
          </a>
          or
          <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            Facebook
          </a>
        </section>
      </footer>
    </article>
  </main>
{{/post}}
