{{!< default}}

{{> "site-header"}}
{{#post}}
  <main class="content" role="main">
    <article class="{{post_class}}">
      <header class="post-header">
        <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>
        <h1 class="post-title">{{{title}}}</h1>
      </header>
      <section class="post-content">
        {{content}}
      </section>
      <footer class="post-footer">
        <section class="author">
          <h4>{{author.name}}</h4>
          <p>{{author.bio}}</p>
          <ul class="author-meta clearfix">
            {{#if author.location}}<li>{{author.location}}</li>{{/if}}
            {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
          </ul>
        </section>
        <section class="share">
          <h4>Share this post</h4>
          <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
          </a>
          <a href="https://plus.google.com/share?url={{url absolute="true"}}"
             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="hidden">Google+</span>
          </a>
        </section>
      </footer>
    </article>
  </main>
{{/post}}
