{{!< default}}

{{> "site-header"}}

<main role="main">
  <header>
    <h1>{{tag.name}}</h1>
    {{#if tag.description}}
      <p>
        {{tag.description}}
      </p>
    {{else}}
      A {{pagination.total}} post collection
    {{/if}}
    {{#if tag.feature_image}}
      <figure>
        <img src="{{tag.feature_image}}" alt="{{name}}">
      </figure>
    {{/if}}
  </header>
  {{> "loop"}}
</main>
